.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(35, 34, 36);
    z-index: 99;
    transition: 2s all;
    opacity: 1;
    visibility: visible;
}

.loader{
    font-size: 5rem;
    color: white;
    position: absolute;
    left: 35%;
    top: 35%;
}

.done{
    opacity: 0;
    visibility: hidden;
}


.loader span {
    mix-blend-mode: difference;
}

.loader::after {
    content: '';
    position: absolute;
    height: calc(100% - 40px);
    left: 0;
    top: 20px;
    width: 30%;
    background-color: white;
    z-index: -1;
    color: black;
    overflow: hidden;
    animation: animate 6s infinite linear;
}


@keyframes animate {

    0%,
    100% {
        transform: translateX(-10px);

    }

    50% {
        transform: translateX(330px);

    }
}